# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- script: echo $(Date:yyyy-MM-dd)-$(Rev:.r)
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '7.0.100'

- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    msbuildArgs: '/p:OutDir="$(Build.ArtifactStagingDirectory)" /p:PackageAsSingleFile=true'
    # msbuildArgs: '/p:PackageLocation="$(Build.ArtifactStagingDirectory)"'
    # msbuildArgs: '/p:OutputDirectory=$(Build.ArtifactStagingDirectory)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(Build.ArtifactStagingDirectory)'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Date:yyyy-MM-dd)-$(Rev:.r).zip'
    replaceExistingArchive: true"

- task: VSTest@2
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- script: |
    echo "Build.ArtifactStagingDirectory : $(Build.ArtifactStagingDirectory)"
    ls $(Build.ArtifactStagingDirectory)
    echo "#################################"
    echo "Build.BinariesDirectory : $(Build.BinariesDirectory)"
    ls $(Build.BinariesDirectory)
    echo "#################################"
    echo "Build.SourcesDirectory : $(Build.SourcesDirectory)"
    ls $(Build.SourcesDirectory)

- powershell: gci env:* | sort-object name | Format-Table -AutoSize | Out-File $env:BUILD_ARTIFACTSTAGINGDIRECTORY/environment-variables.txt

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: drop
